.popup {
    background: white;
    padding: 50px;
    width: auto;
    max-width: 540px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 35px;
}

.share {
    margin-top: 70px;
    text-align: center;
}
.share>h3 {
    font-size: 22px;
    line-height: 25px;
    font-weight: normal;

    color: #7F7F7F;
}

.popup>h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0px 4px;
    color: white;
    border: none;
    user-select: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    width: 44px;
    height: 44px;
    font-size: 22px;
    margin: -2px 2px;
}

.share .vk {
    background-color: #40709B;
}
.share .fb {
    background-color: #31589C;
}
.share .tg {
    background-color: #61A7DD;
}
.share .wa {
    background-color: #1BD641;
}
.share .tw {
    background-color: #1FADE8;
}
