html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    background: #444;
} 

header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1043;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
}
header .logo>a {
    display: block;
    width: 36px;
    height: 41px;
    background-image: url("logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .socials {
    display: flex;
    align-items: center;
    width: 181px;
    height: 66px;
    justify-content: space-between;
    margin-right: 30px;
}

header .socials>a {
    transition: 0.2s all;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    user-select: none;
}

header .socials>a:hover>i {
    color: white;
}

header .vk>i {
    color: #40709B;
    font-size: 20px;
}
header .fb>i {
    color: #31589C;
    font-size: 20px;
}
header .tg>i {
    color: #61A7DD;
    font-size: 20px;
}
header .tw>i {
    color: #1FADE8;
    font-size: 20px;
}

header a.vk:hover {
    background-color: #40709B;
}
header a.fb:hover {
    background-color: #31589C;
}
header a.tg:hover {
    background-color: #61A7DD;
}
header a.tw:hover {
    background-color: #1FADE8;
}

#gameContainer {
    width: 100vw;
    height: 100vh;
    z-index: 2;
}



@keyframes wave {
    0% { x: -400px; }
    100% { x: 0; }
}

.loading {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {

.mfp-auto-cursor .mfp-content {
    margin-top: 60px;
}

body {
    background-size: 200vw, auto;
    overflow: hidden;
} 



.share>h3 {
    font-size: 18px;
}

header .socials>a {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

header .socials {
    width: 144px;
}

header .vk>i {
    font-size: 17px;
}
header .fb>i {
    font-size: 17px;
}
header .tg>i {
    font-size: 17px;
}
header .tw>i {
    font-size: 17px;
}


canvas {
        width: 100%;
        height: 100%;
        display: block;
      }
      /* try to handle mobile dialog */
      canvas + * {
        z-index: 2;
      }
	.water-fill {
    animation: wave 1.7s infinite linear;
}
      .logo {
          display: block;
          max-width: 100vw;
          max-height: 70vh;
      }

      .progress {
          margin: 1.5em;
          border: 1px solid white;
          width: 50vw;
          display: none;
      }
      .progress .full {
          margin: 2px;
          background: white;
          height: 1em;
          transform-origin: top left;
      }

      #loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .spinner,
      .spinner:after {
        border-radius: 50%;
        width: 5em;
        height: 5em;
      }
      .spinner {
        margin: 10px;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #ffffff;
        transform: translateZ(0);
        animation: spinner-spin 1.1s infinite linear;
      }
      @keyframes spinner-spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
